/target/classes/templates/error/404.html
/target/classes/com/example/sping_portfolio/minilabs/aboutUs.class
/target/classes/templates/aboutUs.html
/target/classes/application.properties
/target/classes/templates/bg.html
/target/classes/templates/bgr.html
/target/classes/com/example/sping_portfolio/minilabs/birdsGreetJustin.class
/target/classes/com/example/sping_portfolio/minilabs/birdsGreetKoshy.class
/target/classes/com/example/sping_portfolio/minilabs/birdsGreetRyan.class
/target/classes/com/example/sping_portfolio/minilabs/gradeAverage.class
/target/classes/templates/fragments/head.html
/target/classes/templates/index.html
/target/classes/templates/koshybg.html
/target/classes/templates/layout.html
/target/classes/com/example/sping_portfolio/Main.class
/target/test-classes/com/example/sping_portfolio/MainTests.class
/target/classes/templates/fragments/nav.html
/target/classes/static/images/ncs_logo.png
/target/classes/com/example/sping_portfolio/minilabs/RohanBG.class
/target/classes/templates/rohanbg.html
/target/classes/com/example/sping_portfolio/minilabs/StudentInfo.class
/target/classes/static/vanta/three.r119.min.js
/target/classes/static/vanta/vanta.birds.min.js
/target/classes/templates/aboutUsRohan.html
/target/classes/com/example/sping_portfolio/controllers/aboutUsRohan.class
/target/classes/com/example/sping_portfolio/minilabs/football.class
/target/classes/templates/football.html
/target/classes/com/example/sping_portfolio/minilabs/soccer.class
/target/classes/templates/soccer.html
/target/classes/com/example/sping_portfolio/controllers/aboutUsKoshy.class
/target/classes/templates/aboutUsKoshy.html
/target/classes/com/example/sping_portfolio/controllers/aboutUsRyan.class
/target/classes/templates/aboutUsRyan.html
