/target/classes/templates/error/404.html
/target/classes/com/example/sping_portfolio/minilabs/aboutUs.class
/target/classes/templates/aboutUs.html
/target/classes/application.properties
/target/classes/templates/bg.html
/target/classes/templates/bgr.html
/target/classes/com/example/sping_portfolio/minilabs/birdsGreetJustin.class
/target/classes/com/example/sping_portfolio/minilabs/birdsGreetKoshy.class
/target/classes/com/example/sping_portfolio/minilabs/birdsGreetRyan.class
/target/classes/com/example/sping_portfolio/minilabs/gradeAverage.class
/target/classes/templates/fragments/head.html
/target/classes/templates/index.html
/target/classes/templates/koshybg.html
/target/classes/templates/layout.html
/target/classes/com/example/sping_portfolio/Main.class
/target/test-classes/com/example/sping_portfolio/MainTests.class
/target/classes/templates/fragments/nav.html
/target/classes/static/images/ncs_logo.png
/target/classes/com/example/sping_portfolio/minilabs/RohanBG.class
/target/classes/templates/rohanbg.html
/target/classes/com/example/sping_portfolio/minilabs/StudentInfo.class
/target/classes/static/vanta/three.r119.min.js
/target/classes/static/vanta/vanta.birds.min.js
/target/classes/templates/aboutUsRohan.html
/target/classes/com/example/sping_portfolio/controllers/aboutUsRohan.class
/target/classes/com/example/sping_portfolio/minilabs/football.class
/target/classes/templates/football.html
/target/classes/com/example/sping_portfolio/minilabs/soccer.class
/target/classes/templates/soccer.html
/target/classes/com/example/sping_portfolio/controllers/aboutUsKoshy.class
/target/classes/templates/aboutUsKoshy.html
/target/classes/com/example/sping_portfolio/controllers/aboutUsRyan.class
/target/classes/templates/aboutUsRyan.html
/target/classes/com/example/sping_portfolio/controllers/aboutUs.class
/target/classes/com/example/sping_portfolio/controllers/football.class
/target/classes/com/example/sping_portfolio/controllers/soccer.class
/target/classes/com/example/sping_portfolio/controllers/rohanJournal.class
/target/classes/templates/rohanjournal.html
/target/classes/com/example/sping_portfolio/controllers/GenisisVideoUnit2.class
/target/classes/templates/genisisvidu2.html
/target/classes/com/example/sping_portfolio/controllers/FootballStats.class
/target/classes/com/example/sping_portfolio/minilabs/MiniLab2/Basketball.class
/target/classes/com/example/sping_portfolio/minilabs/MiniLab2/MainBasketball.class
/target/classes/com/example/sping_portfolio/controllers/Basketball.class
/target/classes/com/example/sping_portfolio/controllers/baseball.class
/target/classes/templates/baseball.html
/target/classes/com/example/sping_portfolio/minilabs/Basketball.class
/target/classes/com/example/sping_portfolio/controllers/basketballmain.class
/target/classes/templates/basketballmain.html
/target/classes/com/example/sping_portfolio/minilabs/FootballStats.class
/target/classes/static/css/styles.css
/target/classes/static/images/lebron james1.png
/target/classes/static/images/lebron.png
/target/classes/templates/binaryLightbulb.html
/target/classes/com/example/sping_portfolio/controllers/binaryLightbulb.class
/target/classes/com/example/sping_portfolio/controllers/SoccerData.class
/target/classes/com/example/sping_portfolio/minilabs/RollerCoasterRider.class
/target/classes/com/example/sping_portfolio/controllers/ArrayGrayscale.class
/target/classes/templates/image.html
/target/classes/templates/image_grayscale.html
/target/classes/com/example/sping_portfolio/controllers/ImageInfo.class
/target/classes/com/example/sping_portfolio/controllers/interviewB.class
/target/classes/templates/interviewB.html
/target/classes/com/example/sping_portfolio/controllers/interviewBB.class
/target/classes/templates/interviewBB.html
/target/classes/com/example/sping_portfolio/controllers/interviewF.class
/target/classes/templates/interviewF.html
/target/classes/com/example/sping_portfolio/controllers/interviewS.class
/target/classes/templates/interviewS.html
/target/classes/com/example/sping_portfolio/controllers/rosterB.class
/target/classes/templates/rosterB.html
/target/classes/com/example/sping_portfolio/controllers/rosterBB.class
/target/classes/templates/rosterBB.html
/target/classes/com/example/sping_portfolio/controllers/rosterF.class
/target/classes/templates/rosterF.html
/target/classes/com/example/sping_portfolio/controllers/rosterS.class
/target/classes/templates/rosterS.html
/target/classes/com/example/sping_portfolio/controllers/scheduleB.class
/target/classes/templates/scheduleB.html
/target/classes/com/example/sping_portfolio/controllers/scheduleBB.class
/target/classes/templates/scheduleBB.html
/target/classes/com/example/sping_portfolio/controllers/scheduleF.class
/target/classes/templates/scheduleF.html
/target/classes/com/example/sping_portfolio/controllers/scheduleS.class
/target/classes/templates/scheduleS.html
/target/classes/com/example/sping_portfolio/controllers/statsB.class
/target/classes/templates/statsB.html
/target/classes/com/example/sping_portfolio/controllers/statsBB.class
/target/classes/templates/statsBB.html
/target/classes/com/example/sping_portfolio/controllers/statsF.class
/target/classes/templates/statsF.html
/target/classes/com/example/sping_portfolio/controllers/statsS.class
/target/classes/templates/statsS.html
