/target/classes/templates/error/404.html
/target/classes/com/example/sping_portfolio/minilabs/aboutUs.class
/target/classes/templates/aboutUs.html
/target/classes/application.properties
/target/classes/templates/bg.html
/target/classes/templates/bgr.html
/target/classes/com/example/sping_portfolio/minilabs/birdsGreetJustin.class
/target/classes/com/example/sping_portfolio/minilabs/birdsGreetKoshy.class
/target/classes/com/example/sping_portfolio/minilabs/birdsGreetRyan.class
/target/classes/com/example/sping_portfolio/minilabs/gradeAverage.class
/target/classes/templates/fragments/head.html
/target/classes/templates/index.html
/target/classes/templates/koshybg.html
/target/classes/templates/layout.html
/target/classes/com/example/sping_portfolio/Main.class
/target/test-classes/com/example/sping_portfolio/MainTests.class
/target/classes/templates/fragments/nav.html
/target/classes/static/images/ncs_logo.png
/target/classes/com/example/sping_portfolio/minilabs/RohanBG.class
/target/classes/templates/rohanbg.html
/target/classes/com/example/sping_portfolio/minilabs/StudentInfo.class
/target/classes/static/vanta/three.r119.min.js
/target/classes/static/vanta/vanta.birds.min.js
/target/classes/templates/aboutUsRohan.html
/target/classes/com/example/sping_portfolio/controllers/aboutUsRohan.class
/target/classes/com/example/sping_portfolio/minilabs/football.class
/target/classes/templates/football.html
/target/classes/com/example/sping_portfolio/minilabs/soccer.class
/target/classes/templates/soccer.html
/target/classes/com/example/sping_portfolio/controllers/aboutUsKoshy.class
/target/classes/templates/aboutUsKoshy.html
/target/classes/com/example/sping_portfolio/controllers/aboutUsRyan.class
/target/classes/templates/aboutUsRyan.html
/target/classes/com/example/sping_portfolio/controllers/aboutUs.class
/target/classes/com/example/sping_portfolio/controllers/football.class
/target/classes/com/example/sping_portfolio/controllers/soccer.class
/target/classes/com/example/sping_portfolio/controllers/rohanJournal.class
/target/classes/templates/rohanjournal.html
/target/classes/com/example/sping_portfolio/controllers/GenisisVideoUnit2.class
/target/classes/templates/genisisvidu2.html
/target/classes/com/example/sping_portfolio/controllers/FootballStats.class
/target/classes/com/example/sping_portfolio/minilabs/MiniLab2/Basketball.class
/target/classes/com/example/sping_portfolio/minilabs/MiniLab2/MainBasketball.class
/target/classes/com/example/sping_portfolio/controllers/Basketball.class
/target/classes/com/example/sping_portfolio/controllers/baseball.class
/target/classes/templates/baseball.html
/target/classes/com/example/sping_portfolio/minilabs/Basketball.class
/target/classes/com/example/sping_portfolio/controllers/basketballmain.class
/target/classes/templates/basketballmain.html
/target/classes/com/example/sping_portfolio/minilabs/FootballStats.class
/target/classes/static/css/styles.css
/target/classes/static/images/lebron james1.png
/target/classes/static/images/lebron.png
/target/classes/templates/binaryLightbulb.html
/target/classes/com/example/sping_portfolio/controllers/binaryLightbulb.class
/target/classes/com/example/sping_portfolio/controllers/SoccerData.class
/target/classes/com/example/sping_portfolio/minilabs/RollerCoasterRider.class
/target/classes/com/example/sping_portfolio/controllers/ArrayGrayscale.class
/target/classes/templates/image.html
/target/classes/templates/image_grayscale.html
/target/classes/com/example/sping_portfolio/controllers/ImageInfo.class
/target/classes/com/example/sping_portfolio/controllers/interviewB.class
/target/classes/templates/interviewB.html
/target/classes/com/example/sping_portfolio/controllers/interviewBB.class
/target/classes/templates/interviewBB.html
/target/classes/com/example/sping_portfolio/controllers/interviewF.class
/target/classes/templates/interviewF.html
/target/classes/com/example/sping_portfolio/controllers/interviewS.class
/target/classes/templates/interviewS.html
/target/classes/com/example/sping_portfolio/controllers/rosterB.class
/target/classes/templates/rosterB.html
/target/classes/com/example/sping_portfolio/controllers/rosterBB.class
/target/classes/templates/rosterBB.html
/target/classes/com/example/sping_portfolio/controllers/rosterF.class
/target/classes/templates/rosterF.html
/target/classes/com/example/sping_portfolio/controllers/rosterS.class
/target/classes/templates/rosterS.html
/target/classes/com/example/sping_portfolio/controllers/scheduleB.class
/target/classes/templates/scheduleB.html
/target/classes/com/example/sping_portfolio/controllers/scheduleBB.class
/target/classes/templates/scheduleBB.html
/target/classes/com/example/sping_portfolio/controllers/scheduleF.class
/target/classes/templates/scheduleF.html
/target/classes/com/example/sping_portfolio/controllers/scheduleS.class
/target/classes/templates/scheduleS.html
/target/classes/com/example/sping_portfolio/controllers/statsB.class
/target/classes/templates/statsB.html
/target/classes/com/example/sping_portfolio/controllers/statsBB.class
/target/classes/templates/statsBB.html
/target/classes/com/example/sping_portfolio/controllers/statsF.class
/target/classes/templates/statsF.html
/target/classes/com/example/sping_portfolio/controllers/statsS.class
/target/classes/templates/statsS.html
/target/classes/com/example/sping_portfolio/minilabs/LabMain.class
/target/classes/com/example/sping_portfolio/controllers/Stats.class
/target/classes/com/example/sping_portfolio/minilabs/arithmeticSequence.class
/target/classes/templates/algorithms.html
/target/classes/com/example/sping_portfolio/minilabs/arithmetic/SeperateAlgorithm/arithmeticSequenceRecursion.class
/target/classes/com/example/sping_portfolio/minilabs/arithmetic/arithmeticSequence.class
/target/classes/com/example/sping_portfolio/minilabs/arithmetic/SeperateAlgorithm/arithmeticSequenceFor.class
/target/classes/com/example/sping_portfolio/minilabs/arithmetic/SeperateAlgorithm/arithmeticSequenceMain.class
/target/classes/com/example/sping_portfolio/minilabs/arithmetic/SeperateAlgorithm/arithmeticSequenceStream.class
/target/classes/com/example/sping_portfolio/minilabs/arithmetic/SeperateAlgorithm/arithmeticSequenceWhile.class
/target/classes/com/example/sping_portfolio/minilabs/consoleUI/consoleMethods.class
/target/classes/com/example/sping_portfolio/minilabs/arithmeticTwo/arithFor.class
/target/classes/com/example/sping_portfolio/minilabs/arithmeticTwo/arithmeticController.class
/target/classes/com/example/sping_portfolio/minilabs/arithmeticTwo/arithRecurse.class
/target/classes/com/example/sping_portfolio/minilabs/arithmeticTwo/arithStream.class
/target/classes/com/example/sping_portfolio/minilabs/arithmeticTwo/arithWhile.class
/target/classes/com/example/sping_portfolio/minilabs/arithmeticTwo/parentArithmetic.class
/target/classes/com/example/sping_portfolio/minilabs/factorial/factFor.class
/target/classes/com/example/sping_portfolio/minilabs/factorial/factorialController.class
/target/classes/com/example/sping_portfolio/minilabs/factorial/factRecurse.class
/target/classes/com/example/sping_portfolio/minilabs/factorial/factWhile.class
/target/classes/com/example/sping_portfolio/minilabs/factorial/parentFactorial.class
/target/classes/com/example/sping_portfolio/minilabs/geometric/geoController.class
/target/classes/com/example/sping_portfolio/minilabs/geometric/geoFor.class
/target/classes/com/example/sping_portfolio/minilabs/geometric/geoWhile.class
/target/classes/com/example/sping_portfolio/minilabs/geometric/parentGeo.class
/target/classes/templates/factorial.html
/target/classes/com/example/sping_portfolio/controllers/factorialPage.class
/target/classes/com/example/sping_portfolio/minilabs/arithmeticsub/arithmeticsubController.class
/target/classes/com/example/sping_portfolio/minilabs/arithmeticsub/parentSub.class
/target/classes/com/example/sping_portfolio/minilabs/arithmeticsub/subFor.class
/target/classes/com/example/sping_portfolio/minilabs/arithmeticsub/subRecurse.class
/target/classes/com/example/sping_portfolio/minilabs/arithmeticsub/subStream.class
/target/classes/com/example/sping_portfolio/minilabs/arithmeticsub/subWhile.class
/target/classes/templates/geometric.html
/target/classes/static/images/akumpo.jpeg
/target/classes/static/images/chef.jpeg
/target/classes/static/images/cp3.jpeg
/target/classes/static/images/dame.jpeg
/target/classes/com/example/sping_portfolio/controllers/geometricpage.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GrayScaleCurry.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GrayScaleLebron.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GrayScaleLillard.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GrayScaleMain.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleAD.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleJokic.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleKD.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleKyrie.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleLuka.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleWestbrook.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleYoung.class
/target/classes/static/images/harden.jpeg
/target/classes/static/images/KD.jpeg
/target/classes/static/images/klaw.jpeg
/target/classes/static/images/kyrie.jpeg
/target/classes/static/images/zo.jpeg
/target/classes/static/images/akumpo.jpeg
/target/classes/static/images/chef.jpeg
/target/classes/static/images/cp3.jpeg
/target/classes/static/images/dame.jpeg
/target/classes/templates/geometric.html
/target/classes/com/example/sping_portfolio/controllers/geometricpage.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GrayScaleCurry.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GrayScaleLebron.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GrayScaleLillard.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GrayScaleMain.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleAD.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleController$MainController.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleController.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleJokic.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleKD.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleKyrie.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleLuka.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleWestbrook.class
/target/classes/com/example/sping_portfolio/minilabs/GreyScale/GreyScaleYoung.class
/target/classes/static/images/harden.jpeg
/target/classes/static/images/KD.jpeg
/target/classes/static/images/klaw.jpeg
/target/classes/static/images/kyrie.jpeg
/target/classes/static/images/zo.jpeg
/target/classes/com/example/sping_portfolio/controllers/grayscale.class
/target/classes/static/images/akumpo.png
/target/classes/static/images/dwade.png
/target/classes/static/images/harden.png
/target/classes/static/images/kobe.png
/target/classes/static/images/kyrie.png
/target/classes/static/images/meta.png
/target/classes/static/images/VC.png
/target/classes/static/images/zion.png
/target/classes/static/images/curry.png
/target/classes/static/images/dame.png
/target/classes/static/images/dwight.png
/target/classes/static/images/paul.png
/target/classes/static/images/ray.png
/target/classes/static/images/zach.png
/target/classes/com/example/sping_portfolio/minilabs/Grid2D.class
/target/classes/com/example/sping_portfolio/minilabs/Ascii/Ascii2DBasics.class
/target/classes/com/example/sping_portfolio/Ascii2/Ascii2DBasics2.class
/target/classes/com/example/sping_portfolio/minilabs/Ascii/AsciiArt.class
/target/classes/com/example/sping_portfolio/Ascii2/AsciiArt2.class
/target/classes/static/images/benjie.png
/target/classes/static/images/CJ.png
/target/classes/com/example/sping_portfolio/minilabs/Ascii/Drawing.class
/target/classes/com/example/sping_portfolio/Ascii2/Drawing2.class
/target/classes/static/images/harry.png
/target/classes/static/images/jack.png
/target/classes/static/images/jackson.png
/target/classes/static/images/luo.png
/target/classes/static/images/nathan.png
/target/classes/static/images/nico.png
/target/classes/static/images/noah.png
/target/classes/static/images/orange.png
/target/classes/com/example/sping_portfolio/Ascii2/Picture.class
/target/classes/com/example/sping_portfolio/minilabs/Ascii/Picture.class
/target/classes/static/images/ryan.png
/target/classes/com/example/sping_portfolio/controllers/SportsApi.class
/target/classes/templates/sportsapi.html
