<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
</head>
<body>
    <!-- Begin navigation fragments -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
        <!-- Bootstrap menus -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--root menu -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarMinilabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Minilabs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/bgr">Ryan Minilab</a>
                        <a class="dropdown-item" href="/bg">Justin Minilab</a>
                        <a class="dropdown-item" href="/rohanbg">Rohan Minilab</a>
                        <a class="dropdown-item" href="/koshybg">Koshy Minilab</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarSoccer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Soccer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/rosterS">Roster</a>
                        <a class="dropdown-item" href="/scheduleS">Schedule</a>
                        <a class="dropdown-item" href="/statsS">Stats</a>
                        <a class="dropdown-item" href="/interviewS">Interviews</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarFootball" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Football
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/rosterF">Roster</a>
                        <a class="dropdown-item" href="/scheduleF">Schedule</a>
                        <a class="dropdown-item" href="/statsF">Stats</a>
                        <a class="dropdown-item" href="/interviewF">Interviews</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarBasketball" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Basketball
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/rosterB">Roster</a>
                        <a class="dropdown-item" href="/scheduleB">Schedule</a>
                        <a class="dropdown-item" href="/statsB">Stats</a>
                        <a class="dropdown-item" href="/interviewB">Interviews</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarBaseball" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Baseball
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/rosterBB">Roster</a>
                        <a class="dropdown-item" href="/scheduleBB">Schedule</a>
                        <a class="dropdown-item" href="/statsBB">Stats</a>
                        <a class="dropdown-item" href="/interviewsBB">Interviews</a>
                    </div>
                </li>





                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarMinilabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/aboutUs">Justin</a>
                        <a class="dropdown-item" href="/aboutUsRohan">Rohan</a>
                        <a class="dropdown-item" href="/aboutUsRyan">Ryan</a>
                        <a class="dropdown-item" href="/aboutUsKoshy">Koshy</a>
                        <a class="dropdown-item" href="/genisisvidu2">Genesis U2</a>
                    </div>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/binaryLightbulb">Binary Lightbulb <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/image">Images <span class="sr-only">(current)</span></a>
                </li>


            </ul>
            <!-- Clock display -->
            <div>
                <span id="clock"></span>
            </div>
            <!-- Dark mode action -->
            <div class="custom-control custom-switch">
                <input type="checkbox" onclick="darkFunction()" class="custom-control-input" id="darkSwitch">
                <label class="custom-control-label" for="darkSwitch"></label>
            </div>
            <!-- Navigation bar JavaScript support -->
            <script>
                // Dark Mode Toggle
                function darkFunction() {
                    let element = document.body;
                    element.classList.toggle("dark-mode");
                }
                // Clock controller

            </script>
        </div>
    </nav>
    <!-- Begin navigation fragments -->
</body>
</html>