<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
</head>
<body>
    <!-- Begin navigation fragments -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
        <!-- Bootstrap menus -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--root menu -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarMinilabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Minilabs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/bgr">Ryan Minilab</a>
                        <a class="dropdown-item" href="/bg">Justin Minilab</a>
                        <a class="dropdown-item" href="/rohanbg">Rohan Minilab</a>
                        <a class="dropdown-item" href="/koshybg">Koshy Minilab</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarStats" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sports
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/soccer">Soccer</a>
                        <a class="dropdown-item" href="/football">Football</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarMinilabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/aboutUs">Justin</a>
                        <a class="dropdown-item" href="/aboutUsRohan">Rohan</a>
                        <a class="dropdown-item" href="/aboutUsRyan">Ryan</a>
                        <a class="dropdown-item" href="/aboutUsKoshy">Koshy</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarJournals" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Journals
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/">Ryan Journal(inactive)</a>
                        <a class="dropdown-item" href="/">Justin Journal(inactive)</a>
                        <a class="dropdown-item" href="/rohanjournal">Rohan Journal(active)</a>
                        <a class="dropdown-item" href="/">Koshy Journal(inactive)</a>
                    </div>
                </li>


            </ul>
            <!-- Clock display -->
            <div>
                <span id="clock"></span>
            </div>
            <!-- Dark mode action -->
            <div class="custom-control custom-switch">
                <input type="checkbox" onclick="darkFunction()" class="custom-control-input" id="darkSwitch">
                <label class="custom-control-label" for="darkSwitch"></label>
            </div>
            <!-- Navigation bar JavaScript support -->
            <script>
                // Dark Mode Toggle
                function darkFunction() {
                    let element = document.body;
                    element.classList.toggle("dark-mode");
                }
                // Clock controller

            </script>
        </div>
    </nav>
    <!-- Begin navigation fragments -->
</body>
</html>