<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Football</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="football" class="articles" style="margin: 30px;">
        <h1><strong><center>Hey hey hey! I'm Ryan Moghaddas! This is my aboutus page!</center></strong></h1>
        <br><h3><strong><center>I love music and I have a messed up knee! I just recently got surgery on my ACL and meniscus, and it hurts a lot! I am the best coder in this class, and that is a fact. I love computer science and I love Mr. M's class! WOOOOOOOOO! </center></strong></h3></br>

    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>