<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <title>About Rohan</title>
</div></head>

<body><div layout:fragment="content" th:remove="tag">
  <!-- Start of body content specific to page -->
  <div id="spring_intro" class="articles" style="margin: 30px;">
    <h1 style="font-family:'Courier New'"><strong><center>About Rohan :D</center></strong></h1>
  </div>
  <center><h3 style="font-family:verdana"> Hi, my name is Rohan and I am a student in Mr. Mortensen's CSA class<br>
    My hobbies are hiking, reading, and video games!
  </h3></center>

  <!-- End of body content specific to page -->
</div></body>

</html>