<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>About Justin</title>
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <h1 style="font-family:'Courier New'"><strong><center>About Justin :D</center></strong></h1>
    </div>
    <center><h3 style="font-family:verdana"> Hi, my name is Justin and I am a student in Mr. Mortensen's CSA class<br>
        My hobbies are hiking, reading, and video games!
    </h3></center>

    <head><div layout:fragment="metadata" th:remove="tag">
        <title>Justin's Journal</title>
    </div></head>


    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <h1><strong><center>Justin's Journal!</center></strong></h1>
    </div>
    <center><iframe width="1000" height="800" src="https://docs.google.com/document/d/e/2PACX-1vQCHuTYGmA0W-KWR6UCr2kw9Zs7Bfu50gfnqaKZJI_gmz-FdIjpvM1d8-KdpfPQFCZHiXqTeu17G1Sz/pub?embedded=true">
    </iframe></center>

    <!-- End of body content specific to page -->
</div></body>

</html>