<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Spring Intro</title>
</div></head>


<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <h1 style="color:black"><strong><center>DNHS SPORTS SITE</center></strong></h1>
        <br><h3 style="color:black"><strong><center>What is this website about?</center></strong></h3></br>
        <br><center><p style="font-size:30px;color:black">This site will have all the statistics of DNHS athletes as well as interviews and other fun things</p></center></br>
        <br> <h3 style="color:black"><strong><center>Why did we make this website?</center></strong></h3></br>
        <br><center><p style="font-size:30px;color:black">Our goal for making this is to allow people to keep up with DNHS sports online!</p></center></br>
    </div>
    <!-- End of body content specific to page -->
</div></body>



</html>