<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Spring Intro</title>
</div></head>


<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body style="background: url(https://www.littleonline.com/uploads/project_media/del-norte-high-school/del-norte-hs-01.jpg) no-repeat; background-size:100%"; ><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;  background-color: blue; width: 500px; border: 15px solid green; padding: 50px;">
        <h1 style="color:white"><strong><center>DNHS SPORTS SITE</center></strong></h1>
        <br><h3 style="color:white"><strong><center></center></strong></h3></br>
        <br><center><p style="font-size:30px;color:white">This site will have all the statistics for DNHS athletes as well as interviews, records, and rosters.</p></center></br>
        <br> <h3 style="color:white;margin-top:100px;margin-left:30px"><strong><center>GOAL...</center></strong></h3></br>
        <br><center><p style="font-size:30px;color:white">Our goal for making this is to allow people to keep up with DNHS sports online!</p></center></br>
    </div>
    <!-- End of body content specific to page -->
</div></body>



</html>