<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Basketball Interviews</title>
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <h1 style="font-family:'Courier New'"><strong><center></center></strong></h1>
    </div>
    <center><h3 style="font-family:verdana"> Down below is a link to an interview with Del Norte Basketball's big time athletes! Enjoy!
    </h3></center>

    <head><div layout:fragment="metadata" th:remove="tag">
        <title>Link to interview</title>
    </div></head>


    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <h1><strong><center></center></strong></h1>
    </div>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/QQu9QpBYos4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    </iframe></center>

    <!-- End of body content specific to page -->
</div></body>

</html>