<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Soccer Stats</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body style="background: url(https://cdn.britannica.com/51/190751-050-147B93F7/soccer-ball-goal.jpg) no-repeat; background-size:100%"  ><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="football" class="articles" style="margin: 30px;">
        <h1 style="color:black"><strong><center>DNHS SOCCER PAGE!</center></strong></h1>
        <br><h3 style="color:black"><strong><center>MESSI IS THE GOAT </center></strong></h3></br>
    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>