<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Basketball Stats</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body  style="background: url(https://media.istockphoto.com/photos/basketball-ball-on-black-background-picture-id1202801765?b=1&k=20&m=1202801765&s=170667a&w=0&h=iXmtT1hFuL_7jm-O0YKbbFpTLa8Uq0UX-fhvyfh52uA=) no-repeat; background-size:100%"><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="football" class="articles" style="margin: 30px;">
        <h1 style="color:white"><strong><center>DNHS Basketball Page!</center></strong></h1>
        <!-- End of body content specific to page -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stack.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="
    sha384-ggCyR0iXCbMQv3Xipma34MB+dH/1fQ7*4/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <table class="table table-dark">
        <tr class="bg-info">
            <th>Name</th>
            <th>Pointspergame</th>
            <th>Assistspergame</th>
            <th>Reboundspergame</th>
            <th>Careerhigh</th>
        </tr>
        <tbody id="myTable">
        </tbody>
    </table>
    <script>
        var myArray = [
            {name:'Benjie Nudo', Pointspergame: 14, Assistspergame: 4, Reboundspergame: 4, Careerhigh: 50},
            {name:'Ryan Moghaddas', Pointspergame: 10, Assistspergame: 6, Reboundspergame: 5, Careerhigh: 100},
            {name:'Nico Boom', Pointspergame: 14, Assistspergame: 3, Reboundspergame: 6, Careerhigh: 32},
            {name:'Jackson Cottle', Pointspergame: 6, Assistspergame: 2, Reboundspergame: 2, Careerhigh: 24},
            {name:'Harry Li', Pointspergame: 3, Assistspergame: 0.4, Reboundspergame: 5, Careerhigh: 14},
            {name:'Ben lee', Pointspergame: 12, Assistspergame: 3, Reboundspergame: 4, Careerhigh: 20},
            {name:'CJ Badillo', Pointspergame: 7, Assistspergame: 2, Reboundspergame: 1, Careerhigh: 17},
            {name:'Noah Trepanier', Pointspergame: 1, Assistspergame: 1, Reboundspergame: 3, Careerhigh: 10},
            {name:'Jack Williams', Pointspergame: 9, Assistspergame: 4, Reboundspergame: 7, Careerhigh: 22},
            {name:'Ryan Luo', Pointspergame: 13, Assistspergame: 7, Reboundspergame: 5, Careerhigh: 38},
            {name:'Nathan Lee', Pointspergame: 2, Assistspergame: 1, Reboundspergame: 0.1, Careerhigh: 9},


        ]

        buildTable(myArray)

        function buildTable(data){
            var table = document.getElementById('myTable')
            for (var i = 0;i < data.length; i++) {
                var row = `<tr>
                <td>${data[i].name}</td>
                <td>${data[i].Pointspergame}</td>
                <td>${data[i].Assistspergame}</td>
                <td>${data[i].Reboundspergame}</td>
                <td>${data[i].Careerhigh}</td>
            </tr>`
                table.innerHTML += row
            }
        }
    </script>
</div>
</body>
</html>