<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Soccer Stats</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body style="background: url(https://wallpaperaccess.com/full/2135144.jpg) no-repeat; background-size:100%"><div layout:fragment="content" th:remove="tag">
    <div id="football" class="articles" style="margin: 30px;">
        <h1><strong><center>DNHS Soccer Page!</center></strong></h1>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stack.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="
    sha384-ggCyR0iXCbMQv3Xipma34MB+dH/1fQ7*4/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <table class="table table-dark">
        <tr class="bg-info">
            <th>Name</th>
            <th>Age</th>
            <th>gamesPlayed</th>
            <th>goalsScored</th>
            <th>Number</th>
        </tr>
        <tbody id="myTable">
        </tbody>
    </table>
    <script>
        var myArray = [
            {name:'Rohan', age: 17, gamesPlayed: 15, goalsScored: 3, Number: 7},
            {name:'Justin', age: 17, gamesPlayed: 15, goalsScored: 1, Number: 10},
            {name:'Ryan', age: 18, gamesPlayed: 15, goalsScored: 2, Number: 15},
        ]

        buildTable(myArray)

        function buildTable(data){
            var table = document.getElementById('myTable')
            for (var i = 0;i < data.length; i++) {
                var row = `<tr>
                <td>${data[i].name}</td>
                <td>${data[i].age}</td>
                <td>${data[i].gamesPlayed}</td>
                <td>${data[i].goalsScored}</td>
                <td>${data[i].Number}</td>
            </tr>`
                table.innerHTML += row
            }
        }
    </script>
</div>

</body>
</html>