<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Football Stats</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body style="background: url(https://s3.envato.com/files/62bbb8de-5b6a-44f5-a9e2-31873b99ff2e/inline_image_preview.jpg) no-repeat; background-size:100%"><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="football" class="articles" style="margin: 30px;">
        <h1><strong><center>DNHS Football Page!</center></strong></h1>
        <br><h3><strong><center>NIGHTHAWKS BABY</center></strong></h3></br>

    </div>
    <table class="table  table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Yards</th>
            <th scope="col">Touchdowns</th>
            <th scope="col">D1 Offers</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Martin Hill</td>
            <td>RB, FS, WR</td>
            <td>4000</td>
            <td>34</td>
            <td>150</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Jack Schneider</td>
            <td>QB</td>
            <td>500</td>
            <td>10</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Taylor Farnsworth</td>
            <td>SS, SB</td>
            <td>45</td>
            <td>2</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Jacob Rodriguez</td>
            <td>QB</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>John Ramo</td>
            <td>CB</td>
            <td>15,346</td>
            <td>2</td>
            <td>8</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Chris Guzman</td>
            <td>RB</td>
            <td>400</td>
            <td>3</td>
            <td>2</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Nick Wells</td>
            <td>Running Back</td>
            <td>234</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Leo Liang</td>
            <td>CB</td>
            <td>400</td>
            <td>10</td>
            <td>15</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Eddie Lujan</td>
            <td>WR, CB, SB</td>
            <td>123</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Rayyan Pervez</td>
            <td></td>
            <td>12</td>
            <td>40</td>
            <td>1/td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Simi Sanft</td>
            <td>SS, CB</td>
            <td>46</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Will Gatlin</td>
            <td>WR, CB</td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Will Robinson</td>
            <td>MLB, TE</td>
            <td>800</td>
            <td>8</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Trey Coleman</td>
            <td>K, P</td>
            <td>40</td>
            <td>3</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>John Ware</td>
            <td>WR, CB</td>
            <td>234</td>
            <td>4</td>
            <td>300,000</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Peyton Breaux</td>
            <td>SB, FS, CB</td>
            <td>99</td>
            <td>3</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Dylan Gilmour</td>
            <td>WR, OLB</td>
            <td>399</td>
            <td>2</td>
            <td>12</td>
        </tr>

        <tr>
            <th scope="row">1</th>
            <td>Nick Conde</td>
            <td>RB, OLB</td>
            <td>240</td>
            <td>3</td>
            <td>70</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Malek Hage Hassan</td>
            <td>OLB, RB</td>
            <td>80</td>
            <td>12</td>
            <td>15</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Ali Gull</td>
            <td>OLB</td>
            <td>450</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Ethan Brandt</td>
            <td>WR, OLB, K</td>
            <td>123</td>
            <td>2</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Ty Olsen</td>
            <td>WR, C</td>
            <td>90</td>
            <td>4</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Adrian Gonzalez</td>
            <td>DL, OLB</td>
            <td>120</td>
            <td>4</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Thomas Grothe</td>
            <td>DE, WR</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Lucas Duranceau</td>
            <td>FB, MLB</td>
            <td>190</td>
            <td>6</td>
            <td>80</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Ryan Goldstein</td>
            <td>OL, DL</td>
            <td>0</td>
            <td>3</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Ryan Monraz</td>
            <td>C, NG</td>
            <td>120</td>
            <td>8</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Jeffery Fonseca</td>
            <td>G, NG</td>
            <td>80</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Mason Gizicki</td>
            <td>MLB, FB</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Elyas Zaheer</td>
            <td>DL, DE</td>
            <td>80</td>
            <td>3</td>
            <td>2</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Samih Rachid</td>
            <td>DT, T</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Griffin Oconnor</td>
            <td>C, NG</td>
            <td>410</td>
            <td>3</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Miguel Gonsales</td>
            <td>G</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Connor Wang</td>
            <td>T, DT</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Diego Napolitano</td>
            <td>G, NG</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Esteban Limon</td>
            <td>T, NG</td>
            <td>130</td>
            <td>2</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Shai Gisbert</td>
            <td>G, NG</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Efrain Avalos</td>
            <td>WR, OLB</td>
            <td>40</td>
            <td>1</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Alex Vandierendonck</td>
            <td>TE, DE</td>
            <td>430</td>
            <td>4</td>
            <td>2</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Seth Cotner</td>
            <td>FB, DE</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">17</th>
            <td>Jonah</td>
            <td>WR, FS</td>
            <td>760</td>
            <td>12</td>
        </tr>
        <tr>
            <th scope="row">17</th>
            <td>Mateen Bhaghani</td>
            <td>WR, CB, K</td>
            <td>540</td>
            <td>2</td>
        </tr>
        </tbody>
    </table>    <!-- End of body content specific to page -->
</div>


</body>

</html>